@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

:root {
	--nav-hvr: #fe696a;
	--deep-hvr: #fe3638;
	--sht-trans: all 0.2s ease-in-out;
}

* {
	margin: 0;
	padding: 0;
}

.flexed {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* .tippy-content, */
/* .tippy-box {
	display: flex !important;
	flex-direction: row !important;
	min-width: 500px !important;
} */
